doctype 5
html
    head(lang="en")
        title LSR
        link(rel='stylesheet', href='/stylesheets/index1.css')
        link(rel='stylesheet', href='/stylesheets/jslider.css')
        link(rel='stylesheet', href='/stylesheets/jslider.round.css')
        script(type='text/javascript', src='/javascripts/jquery-1.7.1.js')
        script(type='text/javascript', src='/javascripts/jshashtable-2.1_src.js')
        script(type='text/javascript', src='/javascripts/jquery.numberformatter-1.2.3.js')
        script(type='text/javascript', src='/javascripts/tmpl.js')
        script(type='text/javascript', src='/javascripts/jquery.dependClass-0.1.js')
        script(type='text/javascript', src='/javascripts/draggable-0.1.js')
        script(type='text/javascript', src='/javascripts/jquery.slider.js')
        script(type='text/javascript', src='https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js')
        script(type='text/javascript',src='/javascripts/main.js')


    body
        div#bigWarpper
            div#header
                ul
                    li
                        p#logo LSR
                    li MapNList
                    li
                        nav#mainNav
                            ul
                                li: a(href="/", style="text-decoration: none")
                                    abbr#navText HOME
                                li: a(href="/properties", style="text-decoration: none")
                                    abbr#navText PROPERTY
                                li: a(href="/properties/add", style="text-decoration: none")
                                    abbr#navText ADD
                                li: a(href="/login", style="text-decoration: none")
                                    abbr#navText LOGIN


            div#mainBody
                ul
                    li
                        div#choosePropertyType
                            ul
                                li All
                                li Rent
                                li Sale
                                li Timeshare
                        p#place Location
                                      br
                                      input#location(type="number", name="min_price")

                        p#priceRange Price Range(USD)
                            br
                            input#minPrice(type="number", name="min_price")
                            |to
                            input#maxPrice(type="number", name="max_price")
                        p#bedRooms
                            br
                            |Bedrooms
                            input(type='range',min='0',max='5',step='1')
                        p#bathrooms
                            br
                            |Bathrooms
                            input(type='range',min='0',max='5',step='1')
                        div#more
                            p More
                        div#search
                            input(type='submit', value='Search',id='searchButton')

                        div#bannerAd
                            p#bannerAdText Banner Ad
                    li
