html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: Segoeuil;
    src: url('../fonts/SEGOEUIL.ttf');
}

*{
    margin: 0;
    padding: 0;
}

a:visited{
    text-decoration: none;
    color: #000;
}

a{
    text-decoration: none;
}

#bigWarpper{
    margin: 0 auto;
}

#header{
    height: 40px;
    margin: 0 auto;
    background: #0093da;
    text-align: center;
    color: #ffffff;
    border-bottom:3px solid #3c484f ;
}

#header ul{
    width: 100%;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

#header ul li{
    width: 32%;
    display: inline-block;
    margin: 6px auto;
    border-right:1px solid #000000;
    color: #ffffff;
}

#header ul li:first-child{
    text-align: left;
}

#logo{
    color: #ffffff;
    font:18px Segoeuil;
    margin: 0;
}

#mainNav ul{
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

#mainNav ul li{
    margin: 0 auto;
    width: 12%;
    border: 0 none;
    font-size: 12px;
    text-align: center;
    float: right;
    vertical-align: 50%;
}

#mainBody{
    background: #f1f1f1;
    text-align: center;
}

#mainBody ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: inline-block;
}

#mainBody ul li{
    margin: 0 auto;
    display: inline-block;
    min-height: 100%;
    vertical-align: top;
}

#mainBody ul li:first-child{
    width: 25%;
    border-right:2px solid #000000 ;
}

#mainBody ul li:last-child{
    width: 74%;
}

#mainNav ul li a{
    color: #ffffff;
    font: 14px Segoeuil;
}

#mainNav ul li:first-child{
    text-align: center;
    width: 15%;
}

#mainNav ul li:nth-child(2){
    width: 15%;
}

#choosePropertyType{
    text-align: center;
    margin: 0 auto;
}

#choosePropertyType ul{
    margin:0 auto;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

#choosePropertyType ul li{
    margin: 0 auto;
    display: inline-block;
    width: 15%;
    padding: 5px 0 5px 0;
    background: #ffffff;
    font-size: 14px;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    border-left: 2px solid #dadada;
}

#choosePropertyType ul li:first-child{
    width: 12%;
    border-right: 0 none;
}

#choosePropertyType ul li:last-child{
    width: 25%;
    border-right: 2px solid #dadada;
}

#minPrice,#location,#maxPrice{
    height: 30px;
}

#place,#priceRange,#bedRooms#bathrooms{
    height: 60px;
}

#minPrice,#maxPrice{
    width: 90px;
}

#more{
    height: 30px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
    margin: 20px 100px 0 0 ;
}

#more p{
    margin: 5px;
    color: #212121;
}

#searchButton{
    background: #5DA629;
    border: 0 none;
    border-radius:2px ;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#bannerAd{
    width: 160px;
    height: 220px;
    background: #ffffff;
    border: 1px solid #dadada;
    margin: 40px auto;
}

#bannerAdText{
    margin: 100px auto;
    color: #a1a1a1;
}

#MapDiv ul li:first-child{
    border: 0 none;
    width:34%;
    overflow-y: scroll;
    margin: 0 10px 0 10px;
    max-height: 640px;
}

#MapDiv ul li:last-child{
    border: 0 none;
    width: 62%;
    padding: 0 0 0 0;
}


#propertyName{
    position: relative;
    top:20px;
    background:url("../images/transbg.png")repeat center ;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}

#propertyPrice{
    position: relative;
    top: 0;
    background: #ffffff;
    text-align: left;
    margin: -10px 0;
}

#propertyZoomedDetails{
    height: 200px;
}

#mapHoverInfo{
    color: deepskyblue;
    text-align: center;
    border-bottom:1px solid #d9d9d9;
}

#mapHoverInfo ul{
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

#mapHoverInfo ul li{
    display: inline-block;
    width: 48%;
    color: #000000;
    overflow: hidden;
}

#mapHoverInfo ul li:first-child{
    text-align: left;
    width: 48%;
    color: #000000;
    overflow: hidden;
    margin: 0 auto;
}

#mapHoverInfo ul li:nth-child(2){
    display: inline-block;
    overflow: hidden;
}

#mapHoverInfo ul li:last-child{
    text-align: right;
    width: 48%;
    color: #000000;
    overflow: hidden;
}

#mapHoverInfoPicture{
    padding: 5px;
    border-bottom: 1px solid #d9d9d9;
}

#mapHoverInfoPicture ul{
    width: 100%;
    display: inline-block;
}

#mapHoverInfoPicture ul li{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0 auto;
}

#mapHoverInfoPicture ul li:first-child{
    overflow: hidden;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0 auto;
}

#mapHoverInfoPicture ul li:last-child{
    overflow: hidden;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0 auto;
}

#mapHoverInfoOptions{
    text-align: center;
}

#mapHoverInfoOptions ul{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 500px;
}

#mapHoverInfoOptions ul li{
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}

#mapHoverInfoOptions ul li:first-child{
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}

#mapHoverInfoOptions ul li:last-child{
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}



/*----------------------------------------------------------------------------------------------------------------------*/
#description{
    background: #ffffff;
}

#description_content{
    width: 100%;
}

#description_head{
    margin-left: 5%;
    margin-top: 10px;
    width:90%;
    border-bottom: 2px solid #f3f3f3;
}

#description_head h4{
    margin-bottom: 10px;
}

#description_body{
    width: 100%;
}

#description_body p{
    width: 90%;
    margin-left: 30px;
    font: 11px Tahoma;
    color: #909090;
    line-height: 17px;
}

#tabs{
    width: 100%;
    height: 30px;
    border: 1px solid #f3f3f3;
    margin: 10px auto;
    background: #ffffff;
}

#price{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background: #f3f3f3;
}

#price p{
    margin: 0 auto;
    font: 18px Tahoma Bold;
    padding-top: 7px;
}

#property{
    width: 100%;
}

#property_details{
    margin-top: 10px;
    width:90%;
    border-bottom: 2px solid #f3f3f3;
    height: 30px;
    margin-left: 30px;
}

#property_details h4{
    margin-bottom: 10px;
    float: left;
}

#property_types{
    width: 100%;
}

#property_types ul{
    display: inline-block;
    color: #909090;
    padding: 2.5px 0 2.5px 0;
    margin-left: 30px;
}

#property_types ul li{
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 48%;
    font: 11px Tahoma;
    text-align: left;
    font-size: 12px;
    padding-bottom: 5px;
}

#property_types ul li:first-child{
    width: 48%;
    overflow: hidden;
    margin: 0 auto;
}

#property_types ul li:last-child{
    width: 48%;
}



/*---------------------------------------------------------------------------@@@@@@@@@_-------------------------------*/

#location{
    width: 230px;
}

#bedRooms a{
    float: left;
    margin-left: 52px;
}

#bathrooms a{
    float: left;
    margin-left: 52px;
}

#bedroom{
    width: 230px;
}

#bathroom{
    width: 230px;
}

#more_search div{
    display: inline-block;
}

#search{
    width:70px;
}

#priceRange a {
    float: left;
    margin-left: 52px;
}

#place a{
    float: left;
    margin-left: 52px;
}

#minPrice,#maxPrice{
    width: 105px;
}

#less{
    height: 30px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px;
}

#less p{
    margin: 5px;
    color: #212121;
}

#hide_search{
    float: right;
    margin-right: 60px;
}

#reset a{
    margin-top: 10px;
}

#sort{
    width: 190px;
    background-color: #ffffff;
    border: 1px solid #dadada;
    margin-right: 30px;
    margin-top: 10px;
}

#compare{
    width: 70px;
    background-color: #ffffff;
    border: 1px solid #dadada;
    float: right;
    margin:-22px 0 0 0 ;
}

#description_prop{
    width: 570px;
    padding-top: 10px;
    margin-left: 30px;
}

#description_prop h4{
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 5px;
    float: left;
    margin-right: 100%;
    padding-right: 440px;
}

#description_prop p{
    text-align: justify;
    width: 520px;
    font: 12px Tahoma;
    color: #909090;
    line-height: 20px;
}

input[type="range"]{
    background: url("../images/slider.png") #ffffff no-repeat center;
    background-size:cover;
    background-position: 8px -2px;
    width: 181px;
    height: 20px;
    -webkit-appearance: none;;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(218, 218, 218), 0px 1px 1px 0px rgba(218, 218, 218);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(218, 218, 218,0.9), 0px 1px 1px 0px rgba(218, 218, 218, 0.13);
}



















