html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: Segoeuil;
    src: url('../fonts/SEGOEUIL.ttf');
}

*{
    margin: 0;
    padding: 0;
}

#bigWarpper{
    margin: 0 auto;
}

#header{
    height: 40px;
    margin: 0 auto;
    background: #0093da;
    text-align: center;
    color: #ffffff;
    border-bottom:3px solid #3c484f ;
}

#header ul{
    width: 100%;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

#header ul li{
    width: 32%;
    display: inline-block;
    margin: 6px auto;
    border-right:1px solid #000000;
    color: #ffffff;
}

#header ul li:first-child{
    text-align: left;
}

#logo{
    color: #ffffff;
    font:18px Segoeuil;
    margin: 0;
}

#mainNav ul{
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

#mainNav ul li{
    margin: 0 auto;
    width: 12%;
    border: 0 none;
    font-size: 12px;
    text-align: center;
    float: right;
    vertical-align: 50%;
}

#mainBody{
    background: #f1f1f1;
    text-align: center;
}

#mainBody ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: inline-block;
}

#mainBody ul li{
    margin: 0 auto;
    display: inline-block;
    min-height: 100%;
    vertical-align: top;
}

#mainBody ul li:first-child{
    width: 25%;
    border-right:2px solid #000000 ;
}

#mainBody ul li:last-child{
    width: 74%;
}

#mainNav ul li a{
    color: #ffffff;
    font: 14px Segoeuil;
}

#mainNav ul li:first-child{
    text-align: center;
    width: 15%;
}

#mainNav ul li:nth-child(2){
    width: 15%;
}

#choosePropertyType{
    text-align: center;
    margin: 0 auto;
}

#choosePropertyType ul{
    margin:0 auto;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

#choosePropertyType ul li{
    margin: 0 auto;
    display: inline-block;
    width: 15%;
    padding: 5px 0 5px 0;
    background: #ffffff;
    font-size: 14px;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    border-left: 2px solid #dadada;
}

#choosePropertyType ul li:first-child{
    width: 12%;
    border-right: 0 none;
}

#choosePropertyType ul li:last-child{
    width: 25%;
    border-right: 2px solid #dadada;
}

#minPrice,#location,#maxPrice{
    height: 30px;
}

#place,#priceRange,#bedRooms#bathrooms{
    height: 60px;
}

#minPrice,#maxPrice{
    width: 90px;
}

#more{
    height: 30px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
    margin: 20px 0 0 0 ;
}

#more p{
    margin: 5px;
    color: #212121;
}

#searchButton{
    background: #5DA629;
    border: 0 none;
    border-radius:2px ;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#bannerAd{
    width: 160px;
    height: 220px;
    background: #ffffff;
    border: 1px solid #dadada;
    margin: 40px auto;
}

#MapDiv div{
    display: inline-block;
}

#bannerAdText{
    margin: 100px auto;
    color: #a1a1a1;
}

#MapDiv ul li:first-child{
    border: 0 none;
    width:34%;
    overflow-y: scroll;
    margin: 0 10px 0 10px;
    max-height: 640px;
}

#MapDiv ul li:last-child{
    border: 0 none;
    width: 62%;
    padding: 0 0 0 0;
}


#propertyName{
    position: relative;
    top:20px;
    background:url("../images/transbg.png")repeat center ;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}

#propertyPrice{
    position: relative;
    top: 0;
    background: #ffffff;
    text-align: left;
    margin: -10px 0;
}

#propertyZoomedDetails{
    height: 200px;
}


/*----------------------------------------------------------------------------------------------------------------------*/
#description{
    background: #f3f3f3;
}

#description_content{
    width: 100%;
}

#description_head{
    margin-left: 5%;
    margin-top: 10px;
    width:90%;
    border-bottom: 2px solid #f3f3f3;
}

#description_head h4{
    margin-bottom: 10px;
}

#description_body{
    width: 100%;
}

#description_body p{
    width: 90%;
    margin-left: 30px;
    font: 11px Tahoma;
    color: #909090;
    line-height: 17px;
}

#tabs{
    width: 100%;
    height: 30px;
    border: 1px solid #f3f3f3;
    margin: 10px auto;
    background: #ffffff;
}

#price{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background: #f3f3f3;
}

#price p{
    margin: 0 auto;
    font: 18px Tahoma Bold;
}

#property{
    width: 100%;
}

#property_details{
    margin-left: 5%;
    margin-top: 10px;
    width:90%;
    border-bottom: 2px solid #f3f3f3;
    background: #f3f3f3;
}

#property_details h4{
    margin-bottom: 10px;
}

#property_types{
    width: 100%;
    background: #f3f3f3;
}

#property_types ul{
    display: inline-block;
    width: 100%;
    color: #909090;
    border-top: 2px solid #d9d9d9;
    padding: 2.5px 0 2.5px 0;
}

#property_types ul li{
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 48%;
    font: 11px Tahoma;
    text-align: left;
    font-size: 12px;
}

#property_types ul li:first-child{
    width: 48%;
    overflow: hidden;
    margin: 0 auto;
}

#property_types ul li:last-child{
    width: 48%;
}

















