/*CopyRight Tag Solutions pvt.ltd 2013*/
* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 18px Tahoma;
}

h2 {
    font: 11px Tahoma;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
}

#bigWarpper {
    border: 1px solid white;
    width: 1250px;
    margin: 10px auto;
    text-align: left;
    /*background: red;
    color: white;*/
}
#BlackLine {
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 4px;
    background: black;
}

#mainNav {
    border: 1px solid white;
    border-bottom: 0px;
    background: #0093d9;
    color: #FFFFFF;
    text-align: right;
}

#mainNav li {
    display: inline-block;
    list-style: none;
    font: 12px Tahoma;
    background: #0093d9;
    color: #FFFFFF;
    padding: 5px;
}

#Title {
    font: 19px Tahoma;
    padding-right: 650px;
}

#MapList {
    font: 12px Tahoma;
    padding-right: 400px;
}

#mainNav li a{
    color: #FFFFFF;
}
#mainSection {
    float: left;
    width: 340px;
    height: 550px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 1px;
    margin-bottom: 5px;
}

#mainAside {
    float: left;
    width: 906px;
    height: 550px;
    margin-right: 1px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 0px;
    background: white;
}

#MapDiv {
    width: 906px;
    height: 550px;
    overflow-y: scroll;
    max-width: 906px;
    max-height: 550px;
}

#MapDiv2 {
    width: 906px;
    height: 550px;
    overflow-y: scroll;
    max-width: 906px;
    max-height: 550px;
}


#mainFooter {
    clear: both;
    background: #34B2ED;
    text-align: right;
    margin: 0px;
    padding-top: 5px;
    border: 0px;
    height: 43px;
}

#mainFooter li {
    display: inline-block;
    list-style: none;
    background: #0093d9;
    padding: 3px;
    padding-left: 5px;
    margin-left: 5px;
}

#serachFunction {
    background: #E6E6E6;
    height: 450px;
}

#advertisementBlock {
    background: #0093d9;
    height: 100px;
}

#serachFunctionInputTextUL {
    padding: 0px;
    margin: 0px;
    width: 340px;
    border: 0px;
    color: #606060;
    font: 15px Tahoma;
}

#serachFunction li {
    list-style: none;
}

#serachFunctionInputText {
    width: 325px;
    margin: 5px;
}

#Location {
    width: 325px;
    margin: 8px;
    padding-bottom: 2px;
    height: 50px;
}

#LocationDiv{
    padding-top: 5px;
}

#serachFunctionComboBox {
    width: 320px;
    margin: 0px;
    color: #606060;
    font: 15px Tahoma;
}

#PricingSliderLi {
    width: 325px;
    margin: 8px;
    padding-bottom: 2px;
    height: 50px;
}

#PricingSliderDiv {
    -moz-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    -webkit-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    box-shadow: 4px 6px 7px rgb(110, 110, 110);
}

#BedroomsSliderLi {
    width: 325px;
    margin: 8px;
    padding-bottom: 2px;
    height: 50px;
}

#BedroomsSliderDiv {
    -moz-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    -webkit-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    box-shadow: 4px 6px 7px rgb(110, 110, 110);
}

#BathroomSliderLi {
    width: 325px;
    margin: 8px;
    padding-bottom: 2px;
    height: 50px;
}

#BathroomSliderDiv {
    -moz-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    -webkit-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    box-shadow: 4px 6px 7px rgb(110, 110, 110);
}

#serachFunctionRadio {
    width: 325px;
    margin: 0px;
    padding: 5px;

}

#serachFunctionButtonBox {
    width: 325px;
    margin: 5px;
}

#Options {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
    background: #606060;
    color: White;
    font: 14px Tahoma;
    border: 0px;
}

#serachFunctionButton {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 5px;
    margin-left: 0px;
    background: #1bd937;
    color: White;
    font: bold 14px Tahoma;
    border: 0px;
   /* -moz-box-shadow: 5px 7px 7px rgb(110, 110, 110);
    -webkit-box-shadow: 5px 7px 7px rgb(110, 110, 110);
    box-shadow: 5px 7px 7px rgb(110, 110, 110);  */
}

#serachFunctionAdvaceSearch {
    color: #0093d9;
}

#Addelements {
    padding: 2px;
    font: 14px Tahoma;
}

#dispaly {
    font: 14px Tahoma;
}

#serachAmanitiesText {

    width: 325px;
}

#mapHoverInfo{
    color: deepskyblue;
    text-align: center;
    width: 100%;
    border-bottom:1px solid #d9d9d9;
}

#mapHoverInfo ul{
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

#mapHoverInfo ul li{
    display: inline-block;
    width: 48%;
    color: #000000;
}

#mapHoverInfo ul li:first-child{
    text-align: left;
}

#mapHoverInfo ul li:last-child{
    text-align: right;
}

#mapHoverInfoPicture{
    padding: 5px;
    border-bottom: 1px solid #d9d9d9;
}

#mapHoverInfoPicture ul{
    width: 100%;
    display: inline-block;
}

#mapHoverInfoPicture ul li{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

#mapHoverInfoOptions{
    text-align: center;
}

#mapHoverInfoOptions ul{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

#mapHoverInfoOptions ul li{
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}

#FooterText {
    font: 14px Tahoma;
    color: white;
    text-align: center;
}

#searchFailedMessage{
    position: relative;
    top: 50%;
    left: 20%;
}