html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}

@font-face {
    font-family: Segoeuil;
    src: url('../fonts/SEGOEUIL.ttf');
}

*{
    font-family: Segoeuil,sans-serif;
    margin: 0;
    padding: 0;
}

a:visited{
    text-decoration: none;
    color: #000;
}

a{
    text-decoration: none;
}

a, button, input[type="submit"] {
    cursor: pointer;
}


#bigWarpper{
    margin: 0 auto;
   /* min-width: 1250px;*/
    width: 100%;
    background-color: #f1f1f1;
	max-height: 1080px;
}

#header{
    height: 40px;
    margin: 0 auto;
    background: #0093da;
    text-align: center;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99999;
    border-bottom:3px solid #3c484f ;
}

#header ul{
    width: 100%;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

#header ul li{
    width: 32%;
    display: inline-block;
    margin: 6px auto;
    color: #ffffff;
}

#header ul li:first-child{
    text-align: left;
}

#logo{
    color: #ffffff;
    font:18px Segoeuil;
    margin: 0;
}

#logo a{
    color: #ffffff;
    font:18px Segoeuil;
}

#mainNav ul{
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

#mainNav ul li{
    margin: 0 auto;
    width: 12%;
    border: 0 none;
    font-size: 12px;
    text-align: center;
    float: right;
    vertical-align: 50%;
}

#mainBody{
    background: #f1f1f1;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 7%;
    width: 100%;
}

#mainBody ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: inline-block;
}

#mainBody ul li{
    margin: 0 auto;
    display: inline-block;
    min-height: 100%;
    vertical-align: top;
}

#mainBody ul li:first-child{
    /*width: 280px;*/
}

.propertiesListContainer{
    /*width:24%;*/
    float: left;
}

.ListOfProperty{
    width:26%;
    float: left;
    box-shadow: -5px 0 5px -5px #888;

}

#searchForm{
    width:250px;
    /*top: 43px;
    left: 0;*/
    margin: 0 auto;
   /* position: fixed;*/
}

#mainBody ul li:last-child{
    width:76%;
    box-shadow: -5px 0 5px -5px #888;
}

#mainNav ul li a{
    color: #ffffff;
    font: 14px Segoeuil;
}

#mainNav ul li:first-child{
    text-align: center;
    width: 15%;
}

#mainNav ul li:nth-child(2){
    width: 21%;
}

#choosePropertyType{
    text-align: center;
    margin: 0 auto;
}

#choosePropertyType ul{
    margin:0 auto;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

.selector{
    margin: 0 auto;
    display: inline-block;
    width: 20.2%;
    padding: 5px 0 5px 0;
    background: #ffffff;
    font-size: 14px;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    border-left: 2px solid #dadada;
    border-right: 0 none;
    cursor: pointer;
}

#all{
    width: 19%;
}

#rent{
    width: 19%;
}

#sale{
    width: 19%;
}

#choosePropertyType ul li:first-child{
    width: 12%;
    border-right: 0 none;
}

#selectorLast{
    width: 28%;
    border-right: 2px solid #dadada;
}

#minPrice,#location,#maxPrice,#country,#zipcode,#areaOfSearch{
    height: 30px;
    width: 83%;
}

#place,#priceRange,#bedRooms#bathrooms{
    height: 60px;
    width: 100%;
}

#minPrice,#maxPrice{
    width: 90px;
}

#more{
    height: 32px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
    margin: 20px 0 0 20px ;
    cursor: pointer;
    float: left;
}

#more p{
    margin: 5px;
    color: #212121;
}

#searchButton{
    background: #5DA629;
    border: 0 none;
    border-radius:2px ;
    padding: 7px 23px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}

#bannerAd{
    width: 160px;
    height: 220px;
    background: #ffffff;
    border: 1px solid #dadada;
    margin-top: 30px;
    margin-left: 16%;
}

#bannerAdText{
    margin: 100px auto;
    color: #a1a1a1;
}

.hidelist{
    float: left;
    width: 45%;
}

#MapDiv2{
    width: 100%;
    vertical-align: top;
}

#MapDiv{
   /* margin: 0 0 0 5px;*/
    width: 100%;
    box-shadow: 5px 0 5px -5px #888;
}

.lastchild{
    width: 74%;
}

#MapDiv ul{
    width: 100%;
    float:left;
    margin:0;
}

#MapDiv ul li:first-child{
    border: 0 none;
    width:33%;
   /* margin-right: 2%;*/
    /*overflow-y: scroll;*/
    box-shadow: none;
   margin: 0 auto;
    float: left;
    display: inline-block;
}

.propertiesListScroll{
    width: 340px;
    margin: 0 auto;
}

#scroll{
    height: 590px;
    /*width: 315px;*/
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#list1{
    width: 100%;
    overflow: auto;
    height: 106%;
    padding-right: 35px;
}
#MapDiv ul li:last-child{
    border: 0 none;
    width: 67%;
    padding: 0 0 0 0;
    box-shadow:none;
    margin-left: 0;
    float: left;
    display: inline-block;
}

#mainAside{
    width: 100%;
}

.propertiesList{
    height: 27%;
    background: url("../images/1b8d950ad2e378688b0b2ad14c82f006.jpg")no-repeat center ;
    cursor: pointer;
    width: 290px;
    /*margin-left: 11%;*/
    margin: 0 auto;
    background-size: contain;
}

#propertyName{
    width: 97%;
    padding: 5px;
    background:url("../images/transbg.png")repeat center ;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}

#propertyNameSearch{
    width: 97%;
    padding: 5px;
    background:url("../images/transbg.png")repeat center ;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}

#propertyPrice{
    position: relative;
    top: 92px;
    padding-left:20px;
    background: #f9f9f9;
    box-shadow: inset 0 -10px 10px -13px #000000;
    text-align: left;
    height: 50px;
    width: 94%;
}

#propertyPriceSearch{
    position: relative;
    top: 92px;
    padding-left:20px;
    background: #f9f9f9;
    box-shadow: inset 0 -10px 10px -13px #000000;
    text-align: left;
    height: 50px;
    width: 94%;
}

#propertyPrice a{
    color: #909090;
}

.propertiesListMap{
    height: 175px;
    width: 300px;
    background: url("../images/1b8d950ad2e378688b0b2ad14c82f006.jpg")no-repeat center ;
}

#propertyNameMap{
    padding: 5px;
    background:url("../images/transbg.png")repeat center ;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
}

#propertyPriceMap{
    position: absolute;
    bottom: 18px;
    padding:10px 0 10px 20px;
    margin-bottom: -18px;
    background: #f9f9f9;
    box-shadow: inset 0 -10px 10px -13px #000000;
    text-align: left;
    height: 30px;
    width: 280px;
}

#propertyPriceMap a{
    color: #909090;
}


#propertyZoomedDetails{
    width: 93%;
    height: auto;
    /*margin: 0 auto;*/
    float:right;
}

#mapHoverInfo{
    color: deepskyblue;
    text-align: center;
    border-bottom:1px solid #d9d9d9;
}

#mapHoverInfo ul{
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

#mapHoverInfo ul li{
    display: inline-block;
    width: 48%;
    color: #000000;
    overflow: hidden;
}

#mapHoverInfo ul li:first-child{
    text-align: left;
    width: 48%;
    color: #000000;
    overflow: hidden;
    margin: 0 auto;
}

#mapHoverInfo ul li:nth-child(2){
    display: inline-block;
    overflow: hidden;
}

#mapHoverInfo ul li:last-child{
    text-align: right;
    width: 48%;
    color: #000000;
    overflow: hidden;
}

#mapHoverInfoPicture{
    padding: 5px;
    border-bottom: 1px solid #d9d9d9;
}

#mapHoverInfoPicture ul{
    width: 100%;
    display: inline-block;
}

#mapHoverInfoPicture ul li{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0 auto;
    text-align: left;
}

#mapHoverInfoPicture ul li:first-child{
    overflow: hidden;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0 auto;
}

#mapHoverInfoPicture ul li:last-child{
    overflow: hidden;
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 0 auto;
}

#mapHoverInfoOptions{
    text-align: center;
}

#mapHoverInfoOptions ul{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 500px;
}

#mapHoverInfoOptions ul li{
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}

#mapHoverInfoOptions ul li:first-child{
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}

#mapHoverInfoOptions ul li:last-child{
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    width: 23%;
    padding: 5px 0 5px 0;
}



/*----------------------------------------------------------------------------------------------------------------------*/
#description{
    /*width: 102.5%;*/
    margin-top: -60px;
    background: #ffffff;
}

#description_content{
    width: 100%;
}

#description_head{
    margin-left: 5%;
    margin-top: 10px;
    width:90%;
    border-bottom: 2px solid #f3f3f3;
}

#description_head h4{
    margin-bottom: 10px;
}

#description_body{
    width: 100%;
}

#description_body p{
    width: 90%;
    margin-left: 30px;
    font: 11px Tahoma;
    color: #909090;
    line-height: 17px;
}

#tabs{
    width: 100%;
    height: 50px;
    /*border: 1px solid #f3f3f3;
    margin: 10px auto;*/
    margin-top: 5px;
    margin-bottom: 10px;
    background: #ffffff;
}

#tabs ul{
    width: 50%;
    height: 40px;
    float: left;
    padding-top: 14px;
    margin-left: 5%;
}

#tabs ul li:first-child{
    width: 15%;
    border: 0 none;
    float: left;
    overflow-y: visible;
    box-shadow: none;
    margin: 0;
    max-height: 640px;
}

#tabs ul li{
    width: 15%;
    float: left;
    list-style-type: none;
    border: 0 none;
}

#tabs ul li:last-child{
    width: 15%;
    float: left;
    border: 0 none;
    overflow-y: visible;
    margin: 0;
    box-shadow: none;
    max-height: 640px;
}

#price{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background: #f3f3f3;
}

#price p{
    margin: 0 auto;
    font: 18px Tahoma Bold;
    padding-top: 7px;
    padding-left: 36%;
}

#property{
    width: 100%;
}

#property_details{
    margin-top: 10px;
    width:90%;
    border-bottom: 2px solid #f3f3f3;
    height: 30px;
    margin-left: 30px;
}

#property_details h4{
    margin-bottom: 10px;
    float: left;
}

#property_types{
    width: 100%;
}

#property_types ul{
    display: inline-block;
    color: #909090;
    width: 95%;
    padding: 2.5px 0 2.5px 0;
    margin-left: 5%;
}

#property_types ul li{
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 48%;
    font: 11px Tahoma;
    text-align: left;
    font-size: 12px;
    padding-bottom: 5px;
}

#property_types ul li:first-child{
    width: 48%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: none;
}

#property_types ul li:last-child{
    width: 48%;
    box-shadow: none;
}



/*---------------------------------------------------------------------------@@@@@@@@@_-------------------------------*/

#location,#country,#zipcode,#areaofSearch{
    width: 83%;
    float: left;
    margin-left: 20px;
}

#bedRooms a{
    float: left;
    margin-left: 20px;
}

#bathrooms a{
    float: left;
    margin-left: 20px;
}

#bedroom,#bathroom{
    width: 230px;
}

#bedroom span,#bathroom span{
    margin-left: 42px;
}

#more_search div{
    display: inline-block;
}

#search{
    width:70px;
    margin-top: 20px;
}

#priceRange a {
    float: left;
    margin-left: 20px;
}

#place a{
    float: left;
    margin-left: 20px;
}

#minPrice{
    width: 34%;
    float: left;
    margin-left: 16px;
    margin-right: 2px;
}

#maxPrice{
    width: 34%;
    margin-left: 10px;
    margin-right: 10px;
}

#less{
    height: 30px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

#less p{
    margin: 5px;
    color: #212121;
    cursor: pointer;
}

#hide_search{
    float: right;
    margin-right: 23px;
}

#reset a{
    margin-top: 10px;
}

#result{
    color: #909090;
}

#sort{
    width: 250px;
    /*background-color: #ffffff;
    border: 1px solid #dadada; */
    margin: 0 auto;
}

#compare{
    width: 70px;
    background-color: #ffffff;
    border: 1px solid #dadada;
    float: right;
    /*margin:-22px -30px 0 0 ;*/
    height: 29px;
}

#description_prop{
    width: 100%;
    padding-top: 10px;
}

#description_prop h4{
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 5px;
    width: 90%;
    text-align: start;
    margin-left: 30px;
}

#description_prop p{
    text-align: justify;
    width: 90%;
    font: 12px Tahoma;
    color: #909090;
    line-height: 20px;
    margin-left: 30px;
}

input[type="range"]{
    background: url("../images/slider.png") #ffffff no-repeat center;
    background-size:cover;
    background-position: 8px -2px;
    width: 181px;
    height: 20px;
    -webkit-appearance: none;;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(218, 218, 218), 0px 1px 1px 0px rgba(218, 218, 218);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(218, 218, 218,0.9), 0px 1px 1px 0px rgba(218, 218, 218, 0.13);
}


#BedroomsSlider {
    width: 325px;
    margin: 8px;
    padding-bottom: 2px;
    height: 50px;
    font-size: 30px;
}


#BedroomsSliderDiv {
    -moz-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    -webkit-box-shadow: 4px 6px 7px rgb(110, 110, 110);
    box-shadow: 4px 6px 7px rgb(110, 110, 110);
}

#map{
    display: inline-block;
    background: #f1f1f1;
    height: 27px;
    width: 89px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    padding: 10px 0 0 0 ;
}

#map:visited{
    background: #f1f1f1;
}

#MapDiv2 {
    /*width: 906px;*/
    height: 100%;
    overflow-y: scroll;
    /*margin: 0 0 0 5px;*/
}

#list{
    display: inline-block;
    height: 24px;
    width: 89px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    background: #1E9FDD;
    padding: 10px 0 0 0;
    color: #ffffff;
}

#list a{
    color: #ffffff;
}


/*-------------------------------------------------------------Login Page Style-----------------------------------------------------*/
#container{
    width: 100%;
    background-color: #F2F3F5;
}

#user{
    float: right;
    font-size: 18px;
    margin-right: 20px;
    margin-top: -5px;
}

#id_login{
    height: 280px;
    width: 475px;
    margin: 20px auto;
    background-color: #ffffff;
    color: #909090;
}

#id_login div{
    display: inline-block;
}

#id_login_signup{
    width: 475px;
    margin: 20px auto;
}

#hr_login{
    font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
    /* font-family: sans-serif;*/
    /*font-size: 1.25em;*/
    font-weight: 300;
    float: left;
    margin-left: 19px;
}

#hr_login p{
    text-align: justify;
    padding-top: 20px;
    color: #242424;
}

#email,#password{
    padding: 8px;
    color: #68717c;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

#email,#password:focus {
    -moz-box-shadow:0 0 8px lightblue;
    -webkit-box-shadow:0 0 8px lightblue;
    box-shadow:0 0 8px lightblue;
}

#form{
    width: 305px;
}

#form-div {
    -moz-border-radius:12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
    font-size: 0.875em;
    margin-left:20px;
}

#name{
    width: 200px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email{
    width: 250px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#password{
    width: 250px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

#terms{
    width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#button{
    margin-top: -48px;
    font-size: 0.875em;
    font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
    float: right;
    margin-right: 32px;
}

#submit{
    background-image: -moz-linear-gradient(center top , #6EBF35, #4D8426);
    background-image: -webkit-linear-gradient(center top , #6EBF35, #4D8426);;
    color: #ffffff;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 -1px 0 #666666;
    padding:8px 20px;
    width:70px;
    background: #5DA629;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#submit:hover{
    background-image: -moz-linear-gradient(center top , #6EBF35, #4D8426);
    background-image: -webkit-linear-gradient(center top , #6EBF35, #4D8426);
}

#submit_signup{
    background-color: #3F81C7;
    background-image: -moz-linear-gradient(center top , #528ECD, #3574B7);
    background-image: -webkit-linear-gradient(center top , #528ECD, #3574B7);;
    color: #ffffff;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 -1px 0 #666666;
    padding:8px 20px;
    width:150px;
}

#submit_signup:hover{
    background-image: -moz-linear-gradient(center top , #5E95D1, #326CAC);
    background-image: -webkit-gradient(center top , #5E95D1, #326CAC);
}

#logout{
    background-color: #3F81C7;
    background-image: -moz-linear-gradient(center top , #528ECD, #3574B7);
    background-image: -webkit-linear-gradient(center top , #528ECD, #3574B7);;
    color: #ffffff;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 -1px 0 #666666;
    padding:8px 20px;
    width:70px;
}

#logout:hover{
    background-image: -moz-linear-gradient(center top , #5E95D1, #326CAC);
    background-image: -webkit-gradient(center top , #5E95D1, #326CAC);
}

#form p{
    width: 150px;
    float:left;
    margin-top: 10px;
    margin-right: 50px;
    color: #3F81C7;
}

#form p a{
    color: #3F81C7;
}

#social_network{
    width: 19%;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
    color: #242424;
}

#social_link{
    width: 100%;
}

#login{
    display: inline-block;
    background-image: -moz-linear-gradient(center top , #6899E2, #466BA3);
    background-image: -webkit-linear-gradient(center top , #6899E2, #466BA3);;
    color: #ffffff;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 -1px 0 #666666;
    padding:8px 20px;
    margin: 10px 1%;
    width:70px;
    background: #6088C6;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#login:hover{
    background-image: -moz-linear-gradient(center top , #6899E2, #466BA3);
    background-image: -webkit-linear-gradient(center top , #6899E2, #466BA3);
}

#twitter{
    display: inline-block;
    margin: 10px 1%;
    background-image: -moz-linear-gradient(center top , #8FECFC, #1EDBFC);
    background-image: -webkit-linear-gradient(center top , #8FECFC, #1EDBFC);;
    color: #ffffff;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 -1px 0 #666666;
    padding:8px 21px;
    width:70px;
    background: #60E5FE;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#twitter:hover{
    background-image: -moz-linear-gradient(center top , #8FECFC, #1EDBFC);
    background-image: -webkit-linear-gradient(center top , #8FECFC, #1EDBFC);
}

#linkedin{
    display: inline-block;
    background-image: -moz-linear-gradient(center top , #08ABD8, #30849B);
    background-image: -webkit-linear-gradient(center top , #08ABD8, #30849B);;
    color: #ffffff;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 -1px 0 #666666;
    padding:8px 20px;
    margin: 10px 1%;
    width:70px;
    background: #0097C2;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#linkedin:hover{
    background-image: -moz-linear-gradient(center top , #08ABD8, #30849B);
    background-image: -webkit-linear-gradient(center top , #08ABD8, #30849B);
}

#signup{
    text-align: center;
    font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
    font-size: 0.875em;
    margin-top: 20px;
    width: 90%;
    border-top: 1px solid #cecece;
}

#signup p{
    margin-top: 20px;
}

#signup a{
    color: #0093D9;
    margin-left: 5px;
}

#login_signup{
    text-align: center;
    font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
    font-size: 0.875em;
    margin-top: 40px;
    width: 200px;
    margin-left: 34%;
}

#login_signup a{
    color: #3F81C7;
    margin-left: 5px;
}

#checkbox{
    float: left;
    margin-left: 20px;
}

#remember{
    width: 135px;
    margin-bottom: 10px;
    margin-top: -3px;
}

#forgot{
    width: 170px;
    margin-left: 16px;
}

#forgot a{
    color: #0093D9;
}

#normal_login{
    width: 320px;
    height: 200px;
}

#border{
    border-right: 1px solid #cecece;
    width:2px;
    height:180px;
    vertical-align: bottom;
}

#border a{
    position: relative;
    top: 56px;
    left: -5px;
    background: #ffffff;
    color: #242424;
    font-size: smaller;
}

.slider{
     width: 100%;
     margin: 0 auto;
 }

.slidermap{
    /*width: 91%;*/
    margin: 0 auto;
    padding-top:20px;
}


/*------------------------------------------------------Compare Page Style-----------------------------------------------*/

#compare_body{
    width: 95%;
    height: 550px;
    margin: 10px auto;
    background-color: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
}

#compare_header{
    width: 95%;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid #dadada;
}

#compare_header{
    display: inline-flex;
}

#compare_header h4{
    width: 200px;
    margin: 0 auto;
}

#back{
    height: 30px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
}

#back a{
    margin: 5px;
    color: #212121;
}

#close{
    height: 30px;
    width: 58px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
}

#close a{
    margin: 5px;
    color: #212121;
}

#comparison{
    width: 100%;
    height: 480px;
    margin: 0 auto;
}

#comparison div{
    display: inline-block;
    vertical-align: top;
}

#comparison ul{
    max-width: 630px;
    height: 480px;
    margin-top: 10px;
    display: inline-flex;
    /*overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;*/
}

#comparison ul li{
    width: 247px;
    height: 100%;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

#name{
    width: 9%;
    height: 100%;
    border: 1px solid #dadada;
    background-color: #f1f1f1;
    border-radius: 5px;
    /*overflow-y: auto;*/
    vertical-align: bottom;
    box-shadow: none;
    margin-right: 5px;
}

#comparison ul li:first-child{
    width: 247px;
    height: 100%;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

#comparison ul li:last-child{
    width: 247px;
    height: 100%;
    border: 1px solid #dadada;
    display: inline-block;
    box-shadow: none;
}

#compare_details{
    width: 100%;
    height: 480px;
}

#property_name{
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border-bottom: 1px solid #dadada;
}

#compare_price{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 120px;
    border-bottom: 1px solid #dadada;
}

#compare_beds{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#compare_baths{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#compare_sqft{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#compare_type{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#compare_built{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#compare_mls{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#compare_features{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}

#black{
    width: 100%;
    height: 60px;
    background-color: #000000;
    text-align: justify;
}

#black a{
    color: #ffffff;
}

.comproductName{
    font: 16px bold;
    padding-left: 10px;
}

.comAddress{
    color: #ffffff;
    font-size: 11px;
    padding-left: 10px;
}

#comparePrice{
    width: 100%;
    height: 26px;
    border-bottom: 1px solid #dadada;
    background-color: #f1f1f1;
    padding-top: 5px;
}

#CompareBeds{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBaths{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareSqft{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareType{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBuilt{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareMls{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareFeatures{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}

#comparePrice1{
    width: 100%;
    height: 26px;
    border-bottom: 1px solid #dadada;
    background-color: #f1f1f1;
    padding-top: 5px;
}

#CompareBeds1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBaths1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareSqft1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareType1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBuilt1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareMls1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareFeatures1{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}

#comparePrice2{
    width: 100%;
    height: 26px;
    border-bottom: 1px solid #dadada;
    background-color: #f1f1f1;
    padding-top: 5px;
}

#CompareBeds2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBaths2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareSqft2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareType2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBuilt2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareMls2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareFeatures2{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}

#comparePrice3{
    width: 100%;
    height: 26px;
    border-bottom: 1px solid #dadada;
    background-color: #f1f1f1;
    padding-top: 5px;
}

#CompareBeds3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBaths3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareSqft3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareType3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareBuilt3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareMls3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 7px;
    border-bottom: 1px solid #dadada;
}

#CompareFeatures3{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}


#mapidHide{
    width: 500px;
    /*position: relative;
    top: -652px;
    right: -500px;*/
    position: absolute;
    top: 30px;
    right: -602px;
    background-color: #ffffff;
    z-index: 1000;
}

#moreMap{
    height: 32px;
    width: 104px;
    background: #ffffff;
    border: 2px solid #dadada;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 15px 56px 15px 0;
}

#moreMap p{
    margin: 5px;
    color: #212121;
    cursor: pointer;
    text-align: center;
}

label {
    position: relative;
    display: inline-block;
}

select {
    display: inline-block;
    padding: 4px 3px 5px 5px;
    width: 176px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    /*border-radius: 4px;*/
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: #fff;
}

/* Select arrow styling */
#sort label:after {
     content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    display: inline-block;
    background: url("../images/bropdown.png") no-repeat center center #fff;
    top: -16px;
    right: -174px;
    /*left: 469px;*/
 }

/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    .notIE label:after
    {
        display:none;
    }
}

